.form-label {
  display: block;
  margin: 12px 0;
}

.form-input {
  display: block;
  width: 100%;
  padding: 12px;
  font-size: 1.2rem;
}

.form-btn {
  border-radius: none;
  border: none;
  font-size: 1rem;
  outline: none;
  padding: 8px 20px;
  background-color: rgb(204, 126, 37);
  color: white;
  transition: all 0.25s ease-in-out;
  font-family: monospace;
}

.form-btn:hover {
    background-color: rgb(11, 35, 99);
    color: white;
    transition: all 0.25s ease-in-out;
}

.message-input {
    height: 100px;
    width: 100%;
}
