.footer {
    margin-top: auto;
    background-color: rgb(142, 151, 175);
    color: var(--primary-500);
    padding: 26px 0;
  }
  
  .footer-wrapper {
    max-width: 1200px;
    width: 88%;
    margin: 0 auto;
    
  }

  .footer-logo {
    font-family: "Major Mono Display", monospace;
    font-size: 1em;

  }